@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.main {
  display: none;
  opacity: 0;
}

.filter-orange {
  filter: brightness(0) saturate(100%) invert(79%) sepia(59%) saturate(2278%)
    hue-rotate(354deg) brightness(103%) contrast(101%);
}

.section-1 {
  min-height: 400px;
  background-image: url("../../images/bg-3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1-overlay {
  background-color: rgba(20, 20, 20, 0.9);
  position: absolute;
  min-height: 400px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.section-2 {
  min-height: 320px;
}

.font-san {
  font-family: sans-serif;
}

body {
  display: flex;
  color: rgb(255, 193, 7);
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1c1624;
  overflow-x: hidden;
  /* overflow: hidden; */
  font-family: "Russo One", sans-serif;
  transform-style: preserve-3d;
}

.thank {
  color: rgb(255, 193, 7);
  font-size: 1.5em;
}

.thankyou {
  opacity: 0;
  color: rgb(255, 193, 7);
  font-size: 1.5em;
}

.arrow-down {
  animation: move-up-down 1s linear infinite;
  bottom: 0;
  transform: rotate(137.5deg);
}

.border-space {
  border: 1px solid rgb(255, 193, 7);
}

.button {
  position: absolute;
  margin: 0 auto;
  width: 250px;
  border: 1px solid rgb(255, 193, 7);
  color: rgb(255, 193, 7);
  border-radius: 0.1em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  height: 70px;
  opacity: 1;
  transition: all 0.2s ease;
  line-height: 30px;
  perspective: 1000px;
  transform-style: preserve-3d;
  perspective-origin: 49% 50%;
  display: flex;
  justify-content: center;
}
.button p {
  transition: all 0.2s ease;
  user-select: none;
  line-height: 33px;
  position: absolute;
}

#stars {
  width: 2px;
  height: 2px;
  box-shadow: 374px 1565px rgba(165, 190, 195, 0.3),
    795px 1218px rgba(184, 174, 131, 0.3),
    1553px 1524px rgba(184, 174, 131, 0.7),
    130px 1664px rgba(184, 174, 131, 0.4), 874px 419px rgba(184, 174, 131, 0.2),
    1157px 1262px rgba(184, 174, 131, 1), 531px 139px rgba(184, 174, 131, 0.5),
    226px 782px rgba(184, 174, 131, 0.2), 1199px 1516px rgba(184, 174, 131, 1),
    65px 538px rgba(184, 174, 131, 0.6), 115px 1696px rgba(184, 174, 131, 0.8),
    612px 168px rgba(184, 174, 131, 0.3), 1764px 1329px rgba(184, 174, 131, 0.8),
    1380px 389px rgba(184, 174, 131, 0.6), 1049px 679px rgba(184, 174, 131, 0.8),
    186px 464px rgba(184, 174, 131, 0.3), 1043px 785px rgba(184, 174, 131, 0.5),
    992px 756px rgba(184, 174, 131, 0.3), 1852px 610px rgba(184, 174, 131, 0.4),
    1058px 1613px rgba(184, 174, 131, 0.2),
    1705px 1120px rgba(184, 174, 131, 0.9),
    137px 1629px rgba(184, 174, 131, 0.8), 1px 664px rgba(184, 174, 131, 0.8),
    1692px 641px rgba(184, 174, 131, 0.8),
    1851px 1264px rgba(184, 174, 131, 0.5),
    1934px 1855px rgba(184, 174, 131, 0.1),
    821px 1076px rgba(184, 174, 131, 0.1), 465px 1863px rgba(184, 174, 131, 0.4),
    393px 124px rgba(184, 174, 131, 0.7), 1448px 1497px rgba(184, 174, 131, 1),
    1304px 1990px rgba(184, 174, 131, 0.1), 548px 829px rgba(184, 174, 131, 0.1),
    1940px 100px rgba(184, 174, 131, 0.5), 590px 1353px rgba(184, 174, 131, 0.5),
    856px 1888px rgba(184, 174, 131, 0.8), 646px 1209px rgba(184, 174, 131, 0.5),
    208px 1639px rgba(184, 174, 131, 0.6), 978px 1238px rgba(184, 174, 131, 0.5),
    46px 1573px rgba(184, 174, 131, 0.4), 1284px 476px rgba(184, 174, 131, 0.4),
    1394px 1038px rgba(184, 174, 131, 0.1),
    759px 1133px rgba(184, 174, 131, 0.3),
    1753px 1951px rgba(184, 174, 131, 0.6), 650px 928px rgba(184, 174, 131, 0.2),
    1888px 1768px rgba(184, 174, 131, 0.1),
    1701px 1227px rgba(184, 174, 131, 0.8), 635px 691px rgba(184, 174, 131, 0.1),
    1358px 1867px rgba(184, 174, 131, 0.3), 470px 975px rgba(184, 174, 131, 0.3),
    64px 915px rgba(184, 174, 131, 1), 1271px 1535px rgba(184, 174, 131, 0.5),
    1959px 6px rgba(184, 174, 131, 0.5), 227px 1317px rgba(184, 174, 131, 0.4),
    753px 1843px rgba(184, 174, 131, 0.3), 339px 423px rgba(184, 174, 131, 0.5),
    856px 811px rgba(184, 174, 131, 0.2), 1451px 63px rgba(184, 174, 131, 0.7),
    59px 1009px rgba(184, 174, 131, 0.9), 632px 1887px rgba(184, 174, 131, 1),
    617px 1789px rgba(184, 174, 131, 0.5), 1930px 105px rgba(184, 174, 131, 0.7),
    1767px 988px rgba(184, 174, 131, 0.9),
    1361px 1141px rgba(184, 174, 131, 0.1),
    1296px 1279px rgba(184, 174, 131, 0.4),
    1894px 724px rgba(184, 174, 131, 0.9), 815px 539px rgba(184, 174, 131, 0.4),
    1819px 243px rgba(184, 174, 131, 0.4), 385px 1636px rgba(184, 174, 131, 0.9),
    147px 469px rgba(184, 174, 131, 1), 810px 792px rgba(184, 174, 131, 0.7),
    1373px 607px rgba(184, 174, 131, 0.8), 1557px 652px rgba(184, 174, 131, 0.9),
    1073px 436px rgba(184, 174, 131, 0.5), 609px 1549px rgba(184, 174, 131, 0.3),
    1307px 1661px rgba(184, 174, 131, 0.1),
    275px 1256px rgba(184, 174, 131, 0.9),
    1757px 1352px rgba(184, 174, 131, 0.9),
    434px 1356px rgba(184, 174, 131, 0.3),
    1662px 1968px rgba(184, 174, 131, 0.4),
    1881px 104px rgba(184, 174, 131, 0.4), 918px 773px rgba(184, 174, 131, 0.3),
    1057px 287px rgba(184, 174, 131, 0.2), 916px 818px rgba(184, 174, 131, 0.7),
    487px 509px rgba(184, 174, 131, 0.6), 614px 550px rgba(184, 174, 131, 1),
    21px 1896px rgba(184, 174, 131, 0.7), 58px 431px rgba(184, 174, 131, 0.8),
    162px 482px rgba(184, 174, 131, 0.5), 1787px 854px rgba(184, 174, 131, 1),
    1265px 469px rgba(184, 174, 131, 0.9),
    1640px 1838px rgba(184, 174, 131, 0.5), 875px 277px rgba(184, 174, 131, 0.6),
    795px 283px rgba(184, 174, 131, 1), 1236px 1665px rgba(184, 174, 131, 0.2),
    29px 1713px rgba(184, 174, 131, 0.1), 1419px 1740px rgba(184, 174, 131, 0.7),
    1152px 1396px rgba(184, 174, 131, 0.2),
    1956px 518px rgba(184, 174, 131, 0.6), 1433px 320px rgba(184, 174, 131, 0.5),
    175px 1997px rgba(184, 174, 131, 0.8), 451px 599px rgba(184, 174, 131, 0.3),
    1054px 919px rgba(184, 174, 131, 0.6), 1451px 394px rgba(184, 174, 131, 0.5),
    680px 681px rgba(184, 174, 131, 0.1), 972px 107px rgba(184, 174, 131, 0.6),
    1464px 169px rgba(184, 174, 131, 0.6), 1320px 14px rgba(184, 174, 131, 1),
    1304px 394px rgba(184, 174, 131, 0.9), 60px 1820px rgba(184, 174, 131, 0.2),
    708px 1834px rgba(184, 174, 131, 0.2),
    1503px 1381px rgba(184, 174, 131, 0.5),
    305px 1330px rgba(184, 174, 131, 0.6),
    1951px 1593px rgba(184, 174, 131, 0.7),
    263px 1955px rgba(184, 174, 131, 0.9),
    1336px 1096px rgba(184, 174, 131, 0.8),
    127px 1995px rgba(184, 174, 131, 0.9), 450px 598px rgba(184, 174, 131, 1),
    1456px 394px rgba(184, 174, 131, 0.4),
    1597px 1967px rgba(184, 174, 131, 0.6), 39px 1011px rgba(184, 174, 131, 0.4),
    1941px 39px rgba(184, 174, 131, 0.9), 378px 10px rgba(184, 174, 131, 0.8),
    1098px 977px rgba(184, 174, 131, 0.8), 121px 197px rgba(184, 174, 131, 0.4),
    1339px 1807px rgba(184, 174, 131, 0.8), 1780px 161px rgba(184, 174, 131, 1),
    1107px 1531px rgba(184, 174, 131, 0.1),
    1458px 518px rgba(184, 174, 131, 0.9), 1119px 1414px rgba(184, 174, 131, 1),
    1139px 1866px rgba(184, 174, 131, 0.9), 972px 531px rgba(184, 174, 131, 0.8),
    1391px 1554px rgba(184, 174, 131, 0.4),
    1601px 1671px rgba(184, 174, 131, 0.8),
    1771px 1568px rgba(184, 174, 131, 0.2),
    1844px 1896px rgba(184, 174, 131, 0.2),
    412px 1128px rgba(184, 174, 131, 0.4), 1362px 1356px rgba(184, 174, 131, 1),
    1293px 518px rgba(184, 174, 131, 0.6),
    1278px 1844px rgba(184, 174, 131, 0.2),
    1040px 1178px rgba(184, 174, 131, 0.4), 747px 654px rgba(184, 174, 131, 0.8),
    1555px 1290px rgba(184, 174, 131, 0.6), 1131px 119px rgba(184, 174, 131, 1),
    943px 884px rgba(184, 174, 131, 1), 251px 1809px rgba(184, 174, 131, 0.1),
    1502px 455px rgba(184, 174, 131, 0.4),
    1503px 1688px rgba(184, 174, 131, 0.9), 1px 1976px rgba(184, 174, 131, 0.6),
    699px 1574px rgba(184, 174, 131, 0.6), 483px 1046px rgba(184, 174, 131, 0.4),
    1891px 1948px rgba(184, 174, 131, 0.8),
    925px 1653px rgba(184, 174, 131, 0.5), 1307px 1634px rgba(184, 174, 131, 1),
    1392px 474px rgba(184, 174, 131, 0.8), 1836px 509px rgba(184, 174, 131, 0.5),
    16px 1613px rgba(184, 174, 131, 0.7), 1059px 153px rgba(184, 174, 131, 0.3),
    923px 325px rgba(184, 174, 131, 0.3), 1919px 19px rgba(184, 174, 131, 0.9),
    640px 539px rgba(184, 174, 131, 0.7), 1181px 913px rgba(184, 174, 131, 0.8),
    802px 26px rgba(184, 174, 131, 0.1), 597px 980px rgba(184, 174, 131, 0.9),
    956px 390px rgba(184, 174, 131, 0.6), 1566px 1409px rgba(184, 174, 131, 0.8),
    1375px 1106px rgba(184, 174, 131, 0.8),
    1772px 276px rgba(184, 174, 131, 0.3), 915px 1549px rgba(184, 174, 131, 0.6),
    896px 338px rgba(184, 174, 131, 0.1), 1946px 1214px rgba(184, 174, 131, 1),
    314px 959px rgba(184, 174, 131, 0.3), 782px 1310px rgba(184, 174, 131, 0.7),
    1866px 1784px rgba(184, 174, 131, 1), 1922px 1971px rgba(184, 174, 131, 1),
    1845px 1415px rgba(184, 174, 131, 0.4),
    520px 1808px rgba(184, 174, 131, 0.6),
    1619px 1364px rgba(184, 174, 131, 0.5),
    1089px 639px rgba(184, 174, 131, 0.8), 763px 1556px rgba(184, 174, 131, 0.2),
    613px 387px rgba(184, 174, 131, 0.9), 1973px 97px rgba(184, 174, 131, 1),
    1893px 96px rgba(184, 174, 131, 0.1), 738px 952px rgba(184, 174, 131, 0.8),
    193px 838px rgba(184, 174, 131, 0.5), 728px 3px rgba(184, 174, 131, 0.5),
    318px 847px rgba(184, 174, 131, 0.9), 436px 1021px rgba(184, 174, 131, 0.9),
    1524px 1841px rgba(184, 174, 131, 0.1),
    465px 1643px rgba(184, 174, 131, 0.1), 487px 839px rgba(184, 174, 131, 0.6),
    86px 1622px rgba(184, 174, 131, 0.9), 1389px 1084px rgba(184, 174, 131, 0.7),
    200px 974px rgba(184, 174, 131, 0.7), 991px 1532px rgba(184, 174, 131, 0.4),
    478px 1158px rgba(184, 174, 131, 0.6), 214px 1687px rgba(184, 174, 131, 0.4),
    1090px 1166px rgba(184, 174, 131, 0.1),
    1763px 1907px rgba(184, 174, 131, 0.4),
    1611px 285px rgba(184, 174, 131, 0.2), 13px 995px rgba(184, 174, 131, 0.5),
    1308px 406px rgba(184, 174, 131, 0.3),
    1237px 1255px rgba(184, 174, 131, 0.9),
    1430px 1784px rgba(184, 174, 131, 0.2), 108px 246px rgba(184, 174, 131, 0.2),
    1508px 1989px rgba(184, 174, 131, 0.8), 593px 603px rgba(184, 174, 131, 0.1),
    1378px 1720px rgba(184, 174, 131, 1), 328px 1435px rgba(184, 174, 131, 0.9),
    431px 1494px rgba(184, 174, 131, 0.8),
    1378px 1940px rgba(184, 174, 131, 0.7), 387px 1080px rgba(184, 174, 131, 1),
    987px 1245px rgba(184, 174, 131, 0.5), 1999px 723px rgba(184, 174, 131, 0.6),
    918px 1607px rgba(184, 174, 131, 0.2),
    1545px 1779px rgba(184, 174, 131, 0.9),
    1489px 1095px rgba(184, 174, 131, 0.4),
    306px 1816px rgba(184, 174, 131, 0.8), 1829px 810px rgba(184, 174, 131, 0.9),
    122px 610px rgba(184, 174, 131, 0.2), 1492px 1031px rgba(184, 174, 131, 0.2),
    1588px 1030px rgba(184, 174, 131, 0.5), 740px 388px rgba(184, 174, 131, 0.3),
    1134px 47px rgba(184, 174, 131, 1), 550px 834px rgba(184, 174, 131, 0.5),
    1862px 57px rgba(184, 174, 131, 0.8), 786px 101px rgba(184, 174, 131, 0.1),
    1325px 1433px rgba(184, 174, 131, 0.2), 426px 82px rgba(184, 174, 131, 0.2),
    1343px 1192px rgba(184, 174, 131, 0.1),
    1109px 1819px rgba(184, 174, 131, 0.3),
    1929px 1715px rgba(184, 174, 131, 0.9),
    157px 1487px rgba(184, 174, 131, 0.3), 425px 1079px rgba(184, 174, 131, 0.5),
    1526px 579px rgba(184, 174, 131, 0.7), 432px 736px rgba(184, 174, 131, 0.8),
    1200px 617px rgba(184, 174, 131, 0.2),
    1383px 1563px rgba(184, 174, 131, 0.3), 171px 235px rgba(184, 174, 131, 0.2),
    1690px 396px rgba(184, 174, 131, 0.1), 154px 91px rgba(184, 174, 131, 0.1),
    908px 84px rgba(184, 174, 131, 0.9), 420px 705px rgba(184, 174, 131, 0.9),
    1456px 1100px rgba(184, 174, 131, 0.6),
    239px 1064px rgba(184, 174, 131, 0.7), 1569px 761px rgba(184, 174, 131, 0.4),
    10px 534px rgba(184, 174, 131, 0.9), 519px 1180px rgba(184, 174, 131, 0.3),
    815px 953px rgba(184, 174, 131, 0.2), 63px 610px rgba(184, 174, 131, 0.4),
    453px 66px rgba(184, 174, 131, 0.1), 1015px 424px rgba(184, 174, 131, 0.6),
    1960px 890px rgba(184, 174, 131, 0.1),
    1465px 1708px rgba(184, 174, 131, 0.9),
    486px 1144px rgba(184, 174, 131, 0.9), 1373px 309px rgba(184, 174, 131, 0.3),
    1309px 348px rgba(184, 174, 131, 0.1), 1373px 634px rgba(184, 174, 131, 0.3),
    1168px 129px rgba(184, 174, 131, 0.2), 79px 1247px rgba(184, 174, 131, 0.7),
    1237px 647px rgba(184, 174, 131, 0.9), 1654px 620px rgba(184, 174, 131, 0.2),
    397px 220px rgba(184, 174, 131, 0.4), 117px 1933px rgba(184, 174, 131, 0.1),
    355px 506px rgba(184, 174, 131, 0.2), 38px 100px rgba(184, 174, 131, 0.7),
    934px 203px rgba(184, 174, 131, 0.4), 1152px 318px rgba(184, 174, 131, 0.8),
    1390px 85px rgba(184, 174, 131, 0.6), 941px 1091px rgba(184, 174, 131, 0.6),
    759px 1453px rgba(184, 174, 131, 1), 979px 1476px rgba(184, 174, 131, 0.7),
    762px 1134px rgba(184, 174, 131, 0.5), 1490px 391px rgba(184, 174, 131, 1),
    1779px 540px rgba(184, 174, 131, 0.8), 1797px 920px rgba(184, 174, 131, 0.3),
    1504px 132px rgba(184, 174, 131, 0.2), 128px 1180px rgba(184, 174, 131, 0.5),
    419px 981px rgba(184, 174, 131, 0.7), 1042px 389px rgba(184, 174, 131, 0.8),
    836px 740px rgba(184, 174, 131, 1), 677px 600px rgba(184, 174, 131, 0.6),
    95px 268px rgba(184, 174, 131, 0.2), 1171px 804px rgba(184, 174, 131, 0.3),
    1514px 1739px rgba(184, 174, 131, 0.6), 1489px 40px rgba(184, 174, 131, 0.8),
    1344px 1913px rgba(184, 174, 131, 0.6),
    213px 1895px rgba(184, 174, 131, 0.9), 752px 1373px rgba(184, 174, 131, 0.7),
    866px 876px rgba(184, 174, 131, 0.3), 1926px 710px rgba(184, 174, 131, 0.3),
    1698px 1403px rgba(184, 174, 131, 0.9), 985px 448px rgba(184, 174, 131, 0.1),
    1127px 1816px rgba(184, 174, 131, 0.9),
    699px 1866px rgba(184, 174, 131, 0.6), 18px 547px rgba(184, 174, 131, 0.9),
    651px 305px rgba(184, 174, 131, 0.4), 181px 1299px rgba(184, 174, 131, 0.6),
    1199px 1588px rgba(184, 174, 131, 1), 615px 765px rgba(184, 174, 131, 1),
    1638px 654px rgba(184, 174, 131, 0.1), 1160px 616px rgba(184, 174, 131, 0.9),
    57px 79px rgba(184, 174, 131, 0.1), 1079px 742px rgba(184, 174, 131, 0.1),
    1932px 634px rgba(184, 174, 131, 0.7), 776px 28px rgba(184, 174, 131, 0.1),
    1000px 9px rgba(184, 174, 131, 0.3), 230px 479px rgba(184, 174, 131, 0.6),
    1129px 1814px rgba(184, 174, 131, 0.9), 111px 24px rgba(184, 174, 131, 0.1),
    611px 1606px rgba(184, 174, 131, 0.2), 914px 906px rgba(184, 174, 131, 1),
    272px 592px rgba(184, 174, 131, 0.7), 1158px 897px rgba(184, 174, 131, 0.4),
    808px 370px rgba(184, 174, 131, 0.3), 1663px 1797px rgba(184, 174, 131, 0.4),
    1844px 975px rgba(184, 174, 131, 0.3), 715px 148px rgba(184, 174, 131, 1),
    56px 1339px rgba(184, 174, 131, 0.5), 1743px 1464px rgba(184, 174, 131, 0.2),
    743px 417px rgba(184, 174, 131, 0.3), 1165px 747px rgba(184, 174, 131, 0.9),
    1976px 387px rgba(184, 174, 131, 0.8),
    1606px 1893px rgba(184, 174, 131, 0.3),
    1246px 1335px rgba(184, 174, 131, 0.7), 943px 218px rgba(184, 174, 131, 0.3),
    411px 1454px rgba(184, 174, 131, 1), 580px 906px rgba(184, 174, 131, 0.2),
    1229px 1339px rgba(184, 174, 131, 0.4), 821px 795px rgba(184, 174, 131, 0.9),
    643px 1294px rgba(184, 174, 131, 0.1), 541px 1812px rgba(184, 174, 131, 0.7),
    1807px 570px rgba(184, 174, 131, 0.6), 538px 404px rgba(184, 174, 131, 0.1),
    906px 768px rgba(184, 174, 131, 0.6), 453px 618px rgba(184, 174, 131, 1),
    1102px 626px rgba(184, 174, 131, 0.6), 278px 1430px rgba(184, 174, 131, 0.7),
    142px 1020px rgba(184, 174, 131, 0.1), 766px 515px rgba(184, 174, 131, 0.4),
    10px 1431px rgba(184, 174, 131, 0.8), 1011px 849px rgba(184, 174, 131, 0.7),
    887px 1630px rgba(184, 174, 131, 1), 956px 1564px rgba(184, 174, 131, 1),
    556px 861px rgba(184, 174, 131, 0.1), 253px 881px rgba(184, 174, 131, 0.8),
    162px 973px rgba(184, 174, 131, 0.9), 1030px 820px rgba(184, 174, 131, 0.2),
    11px 408px rgba(184, 174, 131, 0.9), 1443px 838px rgba(184, 174, 131, 0.4),
    995px 458px rgba(184, 174, 131, 1), 1391px 1025px rgba(184, 174, 131, 0.7),
    293px 1120px rgba(184, 174, 131, 0.1), 710px 464px rgba(184, 174, 131, 0.2),
    1881px 90px rgba(184, 174, 131, 0.8), 1632px 1641px rgba(184, 174, 131, 0.3),
    1348px 1272px rgba(184, 174, 131, 0.5),
    1831px 571px rgba(184, 174, 131, 0.1), 1124px 114px rgba(184, 174, 131, 0.8),
    1608px 1338px rgba(184, 174, 131, 1), 649px 1188px rgba(184, 174, 131, 0.7),
    135px 1401px rgba(184, 174, 131, 0.1), 237px 947px rgba(184, 174, 131, 0.3),
    1941px 606px rgba(184, 174, 131, 1), 1095px 1215px rgba(184, 174, 131, 1),
    322px 141px rgba(184, 174, 131, 0.3), 919px 1064px rgba(184, 174, 131, 0.1),
    1686px 1131px rgba(184, 174, 131, 0.5),
    1021px 765px rgba(184, 174, 131, 0.6), 317px 1435px rgba(184, 174, 131, 0.9),
    847px 370px rgba(184, 174, 131, 0.4), 1162px 170px rgba(184, 174, 131, 0.5),
    236px 584px rgba(184, 174, 131, 0.7), 1845px 113px rgba(184, 174, 131, 0.6),
    1291px 1763px rgba(184, 174, 131, 0.3),
    1829px 1242px rgba(184, 174, 131, 0.8),
    461px 1472px rgba(184, 174, 131, 0.2),
    1617px 1028px rgba(184, 174, 131, 0.5), 69px 1474px rgba(184, 174, 131, 0.2),
    1840px 1414px rgba(184, 174, 131, 0.2),
    1159px 1880px rgba(184, 174, 131, 0.7), 1350px 1191px rgba(184, 174, 131, 1),
    1622px 823px rgba(184, 174, 131, 0.3), 730px 539px rgba(184, 174, 131, 1),
    48px 3px rgba(184, 174, 131, 0.7), 1970px 1253px rgba(184, 174, 131, 0.6),
    1148px 139px rgba(184, 174, 131, 0.5), 25px 1519px rgba(184, 174, 131, 0.7),
    1995px 1774px rgba(184, 174, 131, 1), 149px 1763px rgba(184, 174, 131, 1),
    339px 858px rgba(184, 174, 131, 0.9), 662px 1194px rgba(184, 174, 131, 0.4),
    33px 1719px rgba(184, 174, 131, 0.1), 625px 290px rgba(184, 174, 131, 0.2),
    737px 1101px rgba(184, 174, 131, 0.9), 1665px 921px rgba(184, 174, 131, 0.2),
    1469px 1061px rgba(184, 174, 131, 1), 1142px 1173px rgba(184, 174, 131, 0.4),
    542px 782px rgba(184, 174, 131, 1), 1834px 1069px rgba(184, 174, 131, 0.9),
    113px 843px rgba(184, 174, 131, 0.9), 1066px 303px rgba(184, 174, 131, 0.7),
    1224px 108px rgba(184, 174, 131, 0.6), 177px 518px rgba(184, 174, 131, 0.4),
    1958px 1590px rgba(184, 174, 131, 1), 994px 1195px rgba(184, 174, 131, 0.6),
    1744px 1837px rgba(184, 174, 131, 0.9),
    1391px 924px rgba(184, 174, 131, 0.3), 1133px 1595px rgba(184, 174, 131, 1),
    858px 269px rgba(184, 174, 131, 0.2), 1353px 1178px rgba(184, 174, 131, 0.6),
    1481px 286px rgba(184, 174, 131, 0.7), 972px 350px rgba(184, 174, 131, 0.9),
    1470px 626px rgba(184, 174, 131, 0.8), 511px 1108px rgba(184, 174, 131, 0.4),
    852px 294px rgba(184, 174, 131, 0.2), 1463px 1006px rgba(184, 174, 131, 0.5),
    1815px 618px rgba(184, 174, 131, 0.3), 391px 1602px rgba(184, 174, 131, 0.6),
    1274px 455px rgba(184, 174, 131, 0.3),
    1569px 1445px rgba(184, 174, 131, 0.8),
    668px 1544px rgba(184, 174, 131, 0.8),
    1683px 1547px rgba(184, 174, 131, 0.8),
    1578px 447px rgba(184, 174, 131, 0.7), 332px 380px rgba(184, 174, 131, 1),
    1675px 1581px rgba(184, 174, 131, 0.5), 23px 801px rgba(184, 174, 131, 0.2),
    1601px 1345px rgba(184, 174, 131, 0.7),
    1876px 1297px rgba(184, 174, 131, 0.1),
    855px 1923px rgba(184, 174, 131, 0.7), 1068px 866px rgba(184, 174, 131, 0.7),
    1383px 169px rgba(184, 174, 131, 1), 747px 1786px rgba(184, 174, 131, 0.3),
    1343px 1643px rgba(184, 174, 131, 0.6),
    274px 1540px rgba(184, 174, 131, 0.5), 259px 1553px rgba(184, 174, 131, 0.7),
    1627px 912px rgba(184, 174, 131, 0.2),
    1118px 1281px rgba(184, 174, 131, 0.8), 873px 531px rgba(184, 174, 131, 0.8),
    1919px 1394px rgba(184, 174, 131, 1), 347px 85px rgba(184, 174, 131, 0.9),
    1470px 1948px rgba(184, 174, 131, 0.5), 696px 717px rgba(184, 174, 131, 0.5),
    1209px 586px rgba(184, 174, 131, 0.6), 1538px 827px rgba(184, 174, 131, 0.3),
    268px 1331px rgba(184, 174, 131, 0.8),
    1126px 1943px rgba(184, 174, 131, 0.4),
    1926px 737px rgba(184, 174, 131, 0.8), 1626px 942px rgba(184, 174, 131, 0.4),
    959px 1020px rgba(184, 174, 131, 0.6), 182px 1253px rgba(184, 174, 131, 0.6),
    68px 1226px rgba(184, 174, 131, 0.3), 1232px 618px rgba(184, 174, 131, 0.6),
    1050px 179px rgba(184, 174, 131, 0.9), 1763px 114px rgba(184, 174, 131, 0.2),
    1421px 859px rgba(184, 174, 131, 0.4), 1509px 77px rgba(184, 174, 131, 0.8),
    664px 1333px rgba(184, 174, 131, 0.1), 508px 890px rgba(184, 174, 131, 0.5),
    169px 223px rgba(184, 174, 131, 0.4), 219px 1195px rgba(184, 174, 131, 0.1),
    1198px 209px rgba(184, 174, 131, 0.5),
    1212px 1750px rgba(184, 174, 131, 0.2),
    1960px 324px rgba(184, 174, 131, 0.2),
    1921px 1823px rgba(184, 174, 131, 0.2),
    451px 1203px rgba(184, 174, 131, 0.7), 648px 789px rgba(184, 174, 131, 0.4),
    1986px 237px rgba(184, 174, 131, 0.9), 1330px 1969px rgba(184, 174, 131, 1),
    1755px 25px rgba(184, 174, 131, 0.3), 286px 1835px rgba(184, 174, 131, 0.4),
    634px 1536px rgba(184, 174, 131, 0.4), 383px 1871px rgba(184, 174, 131, 0.7),
    256px 956px rgba(184, 174, 131, 0.5), 868px 1164px rgba(184, 174, 131, 0.7),
    1441px 1492px rgba(184, 174, 131, 0.2),
    174px 1776px rgba(184, 174, 131, 0.3),
    1694px 1517px rgba(184, 174, 131, 0.2), 1427px 525px rgba(184, 174, 131, 1),
    317px 574px rgba(184, 174, 131, 0.9), 573px 193px rgba(184, 174, 131, 0.4),
    262px 347px rgba(184, 174, 131, 0.1), 1383px 186px rgba(184, 174, 131, 1),
    1939px 744px rgba(184, 174, 131, 0.1), 557px 1369px rgba(184, 174, 131, 0.2),
    253px 1403px rgba(184, 174, 131, 0.8), 1902px 1037px rgba(184, 174, 131, 1),
    968px 1341px rgba(184, 174, 131, 0.5),
    1986px 1644px rgba(184, 174, 131, 0.6),
    1936px 362px rgba(184, 174, 131, 0.3), 178px 926px rgba(184, 174, 131, 0.4),
    969px 251px rgba(184, 174, 131, 0.3), 803px 1135px rgba(184, 174, 131, 0.7),
    1580px 232px rgba(184, 174, 131, 0.8), 982px 76px rgba(184, 174, 131, 0.1),
    657px 1412px rgba(184, 174, 131, 0.8), 954px 77px rgba(184, 174, 131, 0.2),
    1123px 17px rgba(184, 174, 131, 0.8), 564px 740px rgba(184, 174, 131, 0.6),
    1092px 14px rgba(184, 174, 131, 0.5), 1361px 951px rgba(184, 174, 131, 0.8),
    1927px 1758px rgba(184, 174, 131, 0.5),
    1969px 912px rgba(184, 174, 131, 0.6);
  background: transparent;
  border-radius: 100%;
  animation: blink 2s infinite;
  position: absolute;
  left: 0;
  top: 0;
}

#stars2 {
  width: 3px;
  height: 3px;
  box-shadow: 757px 1643px rgba(165, 190, 195, 0.7),
    161px 603px rgba(184, 174, 131, 0.4), 470px 1416px rgba(184, 174, 131, 0.5),
    215px 1221px rgba(184, 174, 131, 0.7), 978px 1348px rgba(184, 174, 131, 0.3),
    547px 957px rgba(184, 174, 131, 0.9), 1205px 836px rgba(184, 174, 131, 0.5),
    23px 1639px rgba(184, 174, 131, 0.9), 1768px 482px rgba(184, 174, 131, 0.3),
    114px 417px rgba(184, 174, 131, 0.7), 1359px 1869px rgba(184, 174, 131, 0.6),
    761px 941px rgba(184, 174, 131, 1), 1984px 978px rgba(184, 174, 131, 1),
    1674px 611px rgba(184, 174, 131, 0.2), 1597px 272px rgba(184, 174, 131, 0.3),
    587px 126px rgba(184, 174, 131, 1), 1268px 1255px rgba(184, 174, 131, 0.2),
    925px 363px rgba(184, 174, 131, 0.7), 1337px 431px rgba(184, 174, 131, 0.7),
    1387px 1110px rgba(184, 174, 131, 0.1), 855px 1697px rgba(184, 174, 131, 1),
    1133px 179px rgba(184, 174, 131, 0.9), 1485px 1473px rgba(184, 174, 131, 1),
    1567px 451px rgba(184, 174, 131, 1), 1154px 1291px rgba(184, 174, 131, 0.3),
    1835px 780px rgba(184, 174, 131, 0.4), 1978px 885px rgba(184, 174, 131, 0.2),
    1025px 7px rgba(184, 174, 131, 0.2), 138px 908px rgba(184, 174, 131, 1),
    1156px 508px rgba(184, 174, 131, 0.5), 1506px 74px rgba(184, 174, 131, 0.8),
    1137px 65px rgba(184, 174, 131, 0.9), 394px 595px rgba(184, 174, 131, 1),
    415px 680px rgba(184, 174, 131, 0.9), 1850px 237px rgba(184, 174, 131, 0.6),
    1649px 1px rgba(184, 174, 131, 0.6), 1082px 532px rgba(184, 174, 131, 0.8),
    1535px 391px rgba(184, 174, 131, 0.2), 492px 1857px rgba(184, 174, 131, 0.6),
    827px 833px rgba(184, 174, 131, 0.9), 227px 1189px rgba(184, 174, 131, 0.7),
    157px 461px rgba(184, 174, 131, 1), 1042px 417px rgba(184, 174, 131, 1),
    1476px 876px rgba(184, 174, 131, 0.9),
    1013px 1440px rgba(184, 174, 131, 0.7),
    1610px 937px rgba(184, 174, 131, 0.1),
    1208px 1890px rgba(184, 174, 131, 0.1), 750px 488px rgba(184, 174, 131, 0.2),
    100px 256px rgba(184, 174, 131, 0.3), 1822px 455px rgba(184, 174, 131, 0.6),
    1407px 539px rgba(184, 174, 131, 0.6), 831px 1189px rgba(184, 174, 131, 0.8),
    150px 495px rgba(184, 174, 131, 0.9), 943px 290px rgba(184, 174, 131, 0.7),
    1277px 1908px rgba(184, 174, 131, 0.4),
    727px 1174px rgba(184, 174, 131, 0.9), 465px 1318px rgba(184, 174, 131, 0.1),
    505px 1896px rgba(184, 174, 131, 0.4), 150px 1140px rgba(184, 174, 131, 0.5),
    1671px 991px rgba(184, 174, 131, 0.6), 1522px 176px rgba(184, 174, 131, 0.4),
    1784px 6px rgba(184, 174, 131, 0.5), 1718px 678px rgba(184, 174, 131, 0.3),
    197px 348px rgba(184, 174, 131, 0.7), 1610px 1876px rgba(184, 174, 131, 0.1),
    361px 1027px rgba(184, 174, 131, 0.2), 1786px 468px rgba(184, 174, 131, 0.7),
    447px 1708px rgba(184, 174, 131, 0.1), 1839px 126px rgba(184, 174, 131, 0.3),
    799px 1683px rgba(184, 174, 131, 0.3), 686px 1524px rgba(184, 174, 131, 0.5),
    1002px 1337px rgba(184, 174, 131, 0.9),
    1241px 1828px rgba(184, 174, 131, 0.2),
    1911px 245px rgba(184, 174, 131, 0.3), 1847px 104px rgba(184, 174, 131, 0.8),
    690px 450px rgba(184, 174, 131, 0.6), 359px 1898px rgba(184, 174, 131, 0.4),
    1726px 1638px rgba(184, 174, 131, 0.7), 358px 1216px rgba(184, 174, 131, 1),
    1187px 482px rgba(184, 174, 131, 0.1), 803px 1369px rgba(184, 174, 131, 0.2),
    615px 613px rgba(184, 174, 131, 0.8), 1292px 527px rgba(184, 174, 131, 1),
    884px 1990px rgba(184, 174, 131, 0.9), 336px 1728px rgba(184, 174, 131, 0.1),
    40px 1611px rgba(184, 174, 131, 0.8), 450px 937px rgba(184, 174, 131, 0.5),
    1135px 1520px rgba(184, 174, 131, 0.9), 399px 371px rgba(184, 174, 131, 1),
    1861px 375px rgba(184, 174, 131, 0.3), 634px 539px rgba(184, 174, 131, 1),
    1221px 1724px rgba(184, 174, 131, 0.1), 662px 47px rgba(184, 174, 131, 0.1),
    1699px 919px rgba(184, 174, 131, 0.1), 308px 1208px rgba(184, 174, 131, 1),
    515px 1996px rgba(184, 174, 131, 0.1), 1457px 642px rgba(184, 174, 131, 0.5),
    1455px 509px rgba(184, 174, 131, 0.6), 250px 816px rgba(184, 174, 131, 0.3),
    1946px 1232px rgba(184, 174, 131, 0.8),
    944px 1938px rgba(184, 174, 131, 0.3),
    1203px 1442px rgba(184, 174, 131, 0.1),
    383px 1375px rgba(184, 174, 131, 0.1),
    1901px 1222px rgba(184, 174, 131, 0.2), 231px 774px rgba(184, 174, 131, 0.7),
    1866px 1890px rgba(184, 174, 131, 0.7),
    1520px 366px rgba(184, 174, 131, 0.8), 929px 1510px rgba(184, 174, 131, 0.7),
    817px 712px rgba(184, 174, 131, 0.2), 685px 712px rgba(184, 174, 131, 0.5),
    786px 603px rgba(184, 174, 131, 0.3), 1305px 1770px rgba(184, 174, 131, 0.2),
    818px 906px rgba(184, 174, 131, 0.9), 996px 98px rgba(184, 174, 131, 1),
    378px 1288px rgba(184, 174, 131, 0.6), 1864px 590px rgba(184, 174, 131, 0.6),
    1691px 499px rgba(184, 174, 131, 0.2),
    1191px 1007px rgba(184, 174, 131, 0.2), 273px 686px rgba(184, 174, 131, 0.8),
    289px 901px rgba(184, 174, 131, 0.8), 274px 1714px rgba(184, 174, 131, 0.7),
    329px 731px rgba(184, 174, 131, 0.4), 806px 1103px rgba(184, 174, 131, 0.2),
    907px 111px rgba(184, 174, 131, 0.8), 930px 1536px rgba(184, 174, 131, 0.8),
    981px 605px rgba(184, 174, 131, 0.7), 1474px 809px rgba(184, 174, 131, 0.6),
    1321px 487px rgba(184, 174, 131, 0.3), 797px 996px rgba(184, 174, 131, 0.2),
    877px 1769px rgba(184, 174, 131, 0.3), 658px 547px rgba(184, 174, 131, 0.4),
    916px 492px rgba(184, 174, 131, 0.8), 792px 77px rgba(184, 174, 131, 0.2),
    134px 1233px rgba(184, 174, 131, 0.8), 1206px 724px rgba(184, 174, 131, 0.4),
    1771px 1001px rgba(184, 174, 131, 0.1), 863px 828px rgba(184, 174, 131, 1),
    641px 1455px rgba(184, 174, 131, 0.4), 1349px 414px rgba(184, 174, 131, 0.5),
    1848px 847px rgba(184, 174, 131, 0.6), 322px 1029px rgba(184, 174, 131, 0.9),
    1241px 463px rgba(184, 174, 131, 0.1),
    1972px 1204px rgba(184, 174, 131, 0.3),
    250px 1303px rgba(184, 174, 131, 0.3), 629px 540px rgba(184, 174, 131, 0.2),
    1366px 177px rgba(184, 174, 131, 0.1), 1582px 1331px rgba(184, 174, 131, 1),
    1386px 1174px rgba(184, 174, 131, 0.7),
    1372px 1181px rgba(184, 174, 131, 0.5),
    1028px 1507px rgba(184, 174, 131, 0.4),
    1635px 138px rgba(184, 174, 131, 0.8), 1275px 411px rgba(184, 174, 131, 1),
    65px 1843px rgba(184, 174, 131, 1), 375px 897px rgba(184, 174, 131, 0.7),
    1606px 994px rgba(184, 174, 131, 0.7), 478px 1111px rgba(184, 174, 131, 0.5),
    704px 767px rgba(184, 174, 131, 0.7), 267px 951px rgba(184, 174, 131, 0.6),
    222px 1633px rgba(184, 174, 131, 0.1), 1345px 460px rgba(184, 174, 131, 0.9),
    1979px 897px rgba(184, 174, 131, 0.9), 875px 175px rgba(184, 174, 131, 0.3),
    1523px 1238px rgba(184, 174, 131, 1), 706px 750px rgba(184, 174, 131, 0.4),
    930px 1521px rgba(184, 174, 131, 0.8), 173px 258px rgba(184, 174, 131, 0.8),
    73px 261px rgba(184, 174, 131, 0.2), 1784px 881px rgba(184, 174, 131, 0.6),
    125px 1011px rgba(184, 174, 131, 0.4), 766px 304px rgba(184, 174, 131, 0.3),
    1488px 1434px rgba(184, 174, 131, 0.4),
    1987px 674px rgba(184, 174, 131, 0.3), 634px 590px rgba(184, 174, 131, 0.9),
    441px 1377px rgba(184, 174, 131, 0.9), 171px 766px rgba(184, 174, 131, 0.7),
    1658px 207px rgba(184, 174, 131, 1), 136px 1578px rgba(184, 174, 131, 0.2),
    1916px 800px rgba(184, 174, 131, 0.9), 838px 223px rgba(184, 174, 131, 0.7),
    291px 154px rgba(184, 174, 131, 1), 1402px 280px rgba(184, 174, 131, 0.3),
    645px 1356px rgba(184, 174, 131, 0.7), 1686px 185px rgba(184, 174, 131, 0.4),
    378px 1274px rgba(184, 174, 131, 0.4), 1810px 181px rgba(184, 174, 131, 0.8),
    1246px 150px rgba(184, 174, 131, 0.4),
    1418px 1596px rgba(184, 174, 131, 0.3), 110px 547px rgba(184, 174, 131, 0.2),
    386px 1222px rgba(184, 174, 131, 0.1), 926px 1608px rgba(184, 174, 131, 0.3),
    691px 182px rgba(184, 174, 131, 1), 1903px 804px rgba(184, 174, 131, 0.6),
    1202px 1055px rgba(184, 174, 131, 0.5),
    323px 1535px rgba(184, 174, 131, 0.9), 788px 1150px rgba(184, 174, 131, 0.3),
    555px 1236px rgba(184, 174, 131, 0.3), 820px 914px rgba(184, 174, 131, 0.4),
    609px 434px rgba(184, 174, 131, 0.2), 539px 890px rgba(184, 174, 131, 0.1),
    511px 1535px rgba(184, 174, 131, 0.7), 1701px 1744px rgba(184, 174, 131, 1),
    1873px 720px rgba(184, 174, 131, 0.3), 860px 934px rgba(184, 174, 131, 0.7),
    1207px 1526px rgba(184, 174, 131, 0.1),
    1229px 1543px rgba(184, 174, 131, 0.7),
    1683px 1694px rgba(184, 174, 131, 0.8), 92px 1313px rgba(184, 174, 131, 0.1),
    1888px 1525px rgba(184, 174, 131, 0.3), 770px 123px rgba(184, 174, 131, 1),
    782px 1437px rgba(184, 174, 131, 0.8), 110px 1934px rgba(184, 174, 131, 0.3),
    1689px 588px rgba(184, 174, 131, 0.6), 762px 791px rgba(184, 174, 131, 0.9),
    1821px 1959px rgba(184, 174, 131, 0.2),
    1623px 728px rgba(184, 174, 131, 0.4), 97px 578px rgba(184, 174, 131, 0.8),
    805px 1702px rgba(184, 174, 131, 0.6),
    1668px 1829px rgba(184, 174, 131, 0.5),
    1004px 591px rgba(184, 174, 131, 0.7), 704px 596px rgba(184, 174, 131, 1),
    299px 1894px rgba(184, 174, 131, 0.7),
    1025px 1936px rgba(184, 174, 131, 0.1), 712px 899px rgba(184, 174, 131, 0.8),
    81px 1040px rgba(184, 174, 131, 0.9), 439px 1981px rgba(184, 174, 131, 0.2),
    474px 81px rgba(184, 174, 131, 0.7), 1989px 179px rgba(184, 174, 131, 0.7),
    145px 1769px rgba(184, 174, 131, 0.6),
    1389px 1434px rgba(184, 174, 131, 0.8),
    1009px 515px rgba(184, 174, 131, 0.7),
    1457px 1118px rgba(184, 174, 131, 0.9),
    1313px 1230px rgba(184, 174, 131, 0.6), 715px 785px rgba(184, 174, 131, 0.4),
    1443px 597px rgba(184, 174, 131, 0.3), 193px 387px rgba(184, 174, 131, 0.5),
    421px 365px rgba(184, 174, 131, 0.8), 1323px 1690px rgba(184, 174, 131, 0.6),
    1997px 1628px rgba(184, 174, 131, 0.3),
    1107px 1710px rgba(184, 174, 131, 0.2), 82px 442px rgba(184, 174, 131, 1),
    579px 1097px rgba(184, 174, 131, 0.4),
    1348px 1230px rgba(184, 174, 131, 0.3), 85px 255px rgba(184, 174, 131, 0.5),
    375px 1992px rgba(184, 174, 131, 0.6), 1778px 870px rgba(184, 174, 131, 0.4),
    823px 1938px rgba(184, 174, 131, 0.2),
    1172px 1057px rgba(184, 174, 131, 0.5),
    1593px 270px rgba(184, 174, 131, 0.5), 1564px 712px rgba(184, 174, 131, 0.3),
    1451px 331px rgba(184, 174, 131, 0.9), 245px 950px rgba(184, 174, 131, 0.7),
    795px 1667px rgba(184, 174, 131, 0.1), 966px 1352px rgba(184, 174, 131, 1),
    506px 1645px rgba(184, 174, 131, 0.4), 836px 91px rgba(184, 174, 131, 0.4),
    1810px 1782px rgba(184, 174, 131, 0.3), 847px 848px rgba(184, 174, 131, 0.3),
    251px 1003px rgba(184, 174, 131, 0.9), 255px 1932px rgba(184, 174, 131, 1),
    141px 1497px rgba(184, 174, 131, 0.4), 281px 1066px rgba(184, 174, 131, 0.5),
    927px 1535px rgba(184, 174, 131, 0.7),
    1275px 1502px rgba(184, 174, 131, 0.2), 883px 27px rgba(184, 174, 131, 0.2),
    317px 1601px rgba(184, 174, 131, 0.4), 1926px 338px rgba(184, 174, 131, 0.7),
    810px 1946px rgba(184, 174, 131, 0.2), 1477px 82px rgba(184, 174, 131, 0.1),
    1571px 1100px rgba(184, 174, 131, 0.5),
    1971px 1585px rgba(184, 174, 131, 0.6), 79px 354px rgba(184, 174, 131, 0.3),
    1318px 1792px rgba(184, 174, 131, 0.6), 810px 910px rgba(184, 174, 131, 0.9),
    23px 775px rgba(184, 174, 131, 0.1), 975px 1722px rgba(184, 174, 131, 0.1),
    1535px 1748px rgba(184, 174, 131, 0.2),
    1379px 333px rgba(184, 174, 131, 0.3), 993px 1308px rgba(184, 174, 131, 0.6),
    1981px 260px rgba(184, 174, 131, 0.6), 1928px 308px rgba(184, 174, 131, 0.9),
    1357px 962px rgba(184, 174, 131, 0.9),
    1651px 1405px rgba(184, 174, 131, 0.5),
    1395px 1173px rgba(184, 174, 131, 0.4),
    1326px 1254px rgba(184, 174, 131, 0.8),
    1955px 1077px rgba(184, 174, 131, 0.1), 880px 306px rgba(184, 174, 131, 0.4),
    820px 560px rgba(184, 174, 131, 0.1), 1528px 1274px rgba(184, 174, 131, 0.5),
    1803px 1106px rgba(184, 174, 131, 0.7),
    1565px 1344px rgba(184, 174, 131, 0.6), 567px 1602px rgba(184, 174, 131, 1),
    137px 740px rgba(184, 174, 131, 0.8), 138px 985px rgba(184, 174, 131, 0.5),
    709px 1857px rgba(184, 174, 131, 1), 843px 1px rgba(184, 174, 131, 0.5),
    1565px 799px rgba(184, 174, 131, 0.2), 1863px 545px rgba(184, 174, 131, 0.9),
    318px 1104px rgba(184, 174, 131, 0.7), 1028px 73px rgba(184, 174, 131, 0.2),
    1287px 274px rgba(184, 174, 131, 0.7), 58px 1094px rgba(184, 174, 131, 0.6),
    1563px 756px rgba(184, 174, 131, 0.2), 1896px 178px rgba(184, 174, 131, 0.9),
    495px 1965px rgba(184, 174, 131, 1), 1049px 1250px rgba(184, 174, 131, 0.4),
    684px 1700px rgba(184, 174, 131, 0.3), 1421px 789px rgba(184, 174, 131, 0.7),
    1270px 1328px rgba(184, 174, 131, 0.5),
    1870px 1613px rgba(184, 174, 131, 0.8),
    1010px 1965px rgba(184, 174, 131, 0.4),
    1380px 1269px rgba(184, 174, 131, 0.5),
    1634px 616px rgba(184, 174, 131, 0.1), 1279px 324px rgba(184, 174, 131, 0.3),
    1948px 1442px rgba(184, 174, 131, 0.7), 54px 1021px rgba(184, 174, 131, 0.8),
    1336px 1160px rgba(184, 174, 131, 0.9),
    1113px 711px rgba(184, 174, 131, 0.4),
    1948px 1506px rgba(184, 174, 131, 0.4),
    946px 1439px rgba(184, 174, 131, 0.3), 1295px 468px rgba(184, 174, 131, 0.8),
    611px 698px rgba(184, 174, 131, 0.9), 375px 1040px rgba(184, 174, 131, 0.6),
    1412px 978px rgba(184, 174, 131, 0.4), 1973px 559px rgba(184, 174, 131, 0.2),
    136px 966px rgba(184, 174, 131, 0.3), 1761px 1796px rgba(184, 174, 131, 0.9),
    1733px 786px rgba(184, 174, 131, 0.8),
    1310px 1582px rgba(184, 174, 131, 0.2),
    1227px 547px rgba(184, 174, 131, 0.1),
    1588px 1174px rgba(184, 174, 131, 0.9),
    382px 1363px rgba(184, 174, 131, 0.5), 388px 1170px rgba(184, 174, 131, 0.6),
    1415px 1284px rgba(184, 174, 131, 0.1),
    398px 1879px rgba(184, 174, 131, 0.9),
    1326px 1713px rgba(184, 174, 131, 0.9), 866px 568px rgba(184, 174, 131, 0.3),
    1186px 1691px rgba(184, 174, 131, 0.1),
    126px 1764px rgba(184, 174, 131, 0.2), 653px 1706px rgba(184, 174, 131, 0.1),
    314px 1240px rgba(184, 174, 131, 0.6), 997px 1356px rgba(184, 174, 131, 0.6),
    333px 11px rgba(184, 174, 131, 0.4), 774px 796px rgba(184, 174, 131, 0.6),
    1113px 101px rgba(184, 174, 131, 0.6),
    1707px 1713px rgba(184, 174, 131, 0.8),
    206px 1277px rgba(184, 174, 131, 0.3),
    1126px 1483px rgba(184, 174, 131, 0.9), 1458px 1221px rgba(184, 174, 131, 1),
    1703px 1170px rgba(184, 174, 131, 0.7), 177px 900px rgba(184, 174, 131, 0.4),
    659px 842px rgba(184, 174, 131, 0.6), 1899px 157px rgba(184, 174, 131, 0.4),
    585px 697px rgba(184, 174, 131, 0.7), 785px 1659px rgba(184, 174, 131, 0.8),
    846px 604px rgba(184, 174, 131, 0.7), 1662px 1390px rgba(184, 174, 131, 1),
    1714px 797px rgba(184, 174, 131, 0.9),
    1929px 1106px rgba(184, 174, 131, 0.2), 368px 552px rgba(184, 174, 131, 0.1),
    74px 1430px rgba(184, 174, 131, 0.4), 1752px 1121px rgba(184, 174, 131, 0.5),
    75px 599px rgba(184, 174, 131, 0.7), 1846px 802px rgba(184, 174, 131, 0.1),
    1349px 473px rgba(184, 174, 131, 0.2), 114px 695px rgba(184, 174, 131, 0.9),
    665px 146px rgba(184, 174, 131, 0.3), 1531px 442px rgba(184, 174, 131, 0.1),
    248px 1084px rgba(184, 174, 131, 0.5), 571px 495px rgba(184, 174, 131, 0.3),
    1029px 1444px rgba(184, 174, 131, 0.2),
    242px 1144px rgba(184, 174, 131, 0.8),
    1940px 1911px rgba(184, 174, 131, 0.8),
    1136px 475px rgba(184, 174, 131, 0.7), 1420px 206px rgba(184, 174, 131, 0.4),
    289px 316px rgba(184, 174, 131, 0.6), 906px 850px rgba(184, 174, 131, 0.3),
    1903px 29px rgba(184, 174, 131, 0.2), 1472px 7px rgba(184, 174, 131, 0.9),
    483px 1598px rgba(184, 174, 131, 0.9), 252px 1860px rgba(184, 174, 131, 0.4),
    20px 620px rgba(184, 174, 131, 0.4), 1191px 980px rgba(184, 174, 131, 0.2),
    64px 482px rgba(184, 174, 131, 0.1), 68px 989px rgba(184, 174, 131, 0.6),
    543px 1061px rgba(184, 174, 131, 0.6), 1292px 589px rgba(184, 174, 131, 0.1),
    656px 1357px rgba(184, 174, 131, 0.2), 715px 657px rgba(184, 174, 131, 0.3),
    1832px 1762px rgba(184, 174, 131, 0.9),
    535px 1839px rgba(184, 174, 131, 0.4), 294px 989px rgba(184, 174, 131, 1),
    300px 1093px rgba(184, 174, 131, 0.3),
    1982px 1845px rgba(184, 174, 131, 0.3),
    1660px 693px rgba(184, 174, 131, 0.4),
    1353px 1664px rgba(184, 174, 131, 0.5), 593px 270px rgba(184, 174, 131, 0.5),
    1295px 887px rgba(184, 174, 131, 0.5), 1605px 779px rgba(184, 174, 131, 0.7),
    988px 1285px rgba(184, 174, 131, 0.8), 1577px 516px rgba(184, 174, 131, 0.3),
    1916px 1162px rgba(184, 174, 131, 0.5),
    215px 1803px rgba(184, 174, 131, 0.6);
  background: transparent;
  border-radius: 100%;
  animation: blink 4s infinite;
  position: absolute;
  left: 0;
  top: 0;
}

#stars3 {
  width: 4px;
  height: 4px;
  box-shadow: 1133px 1545px rgba(165, 190, 195, 0.7),
    481px 346px rgba(184, 174, 131, 0.9), 604px 682px rgba(184, 174, 131, 0.5),
    1518px 1458px rgba(184, 174, 131, 0.1),
    428px 1232px rgba(184, 174, 131, 0.3), 983px 1238px rgba(184, 174, 131, 0.2),
    1047px 434px rgba(184, 174, 131, 0.1), 599px 38px rgba(184, 174, 131, 0.7),
    1673px 320px rgba(184, 174, 131, 0.1),
    1390px 1185px rgba(184, 174, 131, 0.9), 567px 883px rgba(184, 174, 131, 0.6),
    98px 1497px rgba(184, 174, 131, 0.5), 1100px 1891px rgba(184, 174, 131, 0.9),
    1777px 1147px rgba(184, 174, 131, 0.9),
    1391px 551px rgba(184, 174, 131, 0.3), 1450px 409px rgba(184, 174, 131, 0.3),
    690px 965px rgba(184, 174, 131, 1), 1900px 1506px rgba(184, 174, 131, 0.2),
    1769px 812px rgba(184, 174, 131, 0.2), 1309px 794px rgba(184, 174, 131, 0.7),
    57px 135px rgba(184, 174, 131, 0.7), 1893px 896px rgba(184, 174, 131, 0.2),
    1258px 553px rgba(184, 174, 131, 0.7), 1169px 328px rgba(184, 174, 131, 0.4),
    1419px 1314px rgba(184, 174, 131, 0.7),
    1793px 1473px rgba(184, 174, 131, 0.4),
    1302px 1638px rgba(184, 174, 131, 0.9),
    1703px 1541px rgba(184, 174, 131, 0.7),
    576px 1841px rgba(184, 174, 131, 0.1), 867px 154px rgba(184, 174, 131, 0.9),
    1212px 1562px rgba(184, 174, 131, 0.2), 389px 809px rgba(184, 174, 131, 0.1),
    695px 1727px rgba(184, 174, 131, 0.5), 679px 1091px rgba(184, 174, 131, 0.6),
    102px 492px rgba(184, 174, 131, 1), 251px 176px rgba(184, 174, 131, 0.8),
    1244px 298px rgba(184, 174, 131, 1), 108px 405px rgba(184, 174, 131, 0.5),
    445px 809px rgba(184, 174, 131, 0.1), 1679px 174px rgba(184, 174, 131, 0.1),
    1065px 1339px rgba(184, 174, 131, 0.8),
    1104px 828px rgba(184, 174, 131, 0.8), 697px 1333px rgba(184, 174, 131, 0.4),
    270px 1711px rgba(184, 174, 131, 0.9), 1061px 293px rgba(184, 174, 131, 0.3),
    1367px 1737px rgba(184, 174, 131, 0.2), 88px 1889px rgba(184, 174, 131, 0.4),
    1199px 1738px rgba(184, 174, 131, 0.4),
    1660px 995px rgba(184, 174, 131, 0.1), 587px 723px rgba(184, 174, 131, 0.9),
    597px 411px rgba(184, 174, 131, 0.7), 1079px 1817px rgba(184, 174, 131, 1),
    27px 1745px rgba(184, 174, 131, 0.7), 1413px 522px rgba(184, 174, 131, 0.9),
    1645px 826px rgba(184, 174, 131, 0.6), 1861px 798px rgba(184, 174, 131, 0.5),
    493px 33px rgba(184, 174, 131, 0.3), 984px 491px rgba(184, 174, 131, 0.5),
    464px 1461px rgba(184, 174, 131, 0.8), 221px 758px rgba(184, 174, 131, 0.1),
    1279px 1059px rgba(184, 174, 131, 0.5), 3px 749px rgba(184, 174, 131, 0.8),
    1042px 355px rgba(184, 174, 131, 0.5),
    1985px 1700px rgba(184, 174, 131, 0.1), 788px 450px rgba(184, 174, 131, 0.3),
    1907px 577px rgba(184, 174, 131, 0.1), 1584px 117px rgba(184, 174, 131, 0.3),
    355px 1673px rgba(184, 174, 131, 0.2), 174px 1577px rgba(184, 174, 131, 0.9),
    1292px 595px rgba(184, 174, 131, 0.2), 896px 239px rgba(184, 174, 131, 0.7),
    966px 415px rgba(184, 174, 131, 0.1), 1282px 1473px rgba(184, 174, 131, 0.2),
    1324px 65px rgba(184, 174, 131, 0.6), 239px 450px rgba(184, 174, 131, 0.1),
    1732px 1767px rgba(184, 174, 131, 0.6), 167px 222px rgba(184, 174, 131, 0.3),
    1085px 1006px rgba(184, 174, 131, 0.2), 654px 725px rgba(184, 174, 131, 0.6),
    1174px 1269px rgba(184, 174, 131, 1), 532px 328px rgba(184, 174, 131, 1),
    376px 895px rgba(184, 174, 131, 0.4), 1135px 1222px rgba(184, 174, 131, 0.6),
    1500px 1055px rgba(184, 174, 131, 0.4), 657px 1268px rgba(184, 174, 131, 1),
    244px 278px rgba(184, 174, 131, 0.3), 488px 1131px rgba(184, 174, 131, 1),
    1933px 1209px rgba(184, 174, 131, 0.7),
    781px 1021px rgba(184, 174, 131, 0.9), 939px 556px rgba(184, 174, 131, 0.5),
    1937px 1784px rgba(184, 174, 131, 0.8),
    875px 1896px rgba(184, 174, 131, 0.6), 856px 592px rgba(184, 174, 131, 0.4),
    442px 1925px rgba(184, 174, 131, 1), 1604px 1858px rgba(184, 174, 131, 0.7),
    893px 1651px rgba(184, 174, 131, 0.5), 51px 1707px rgba(184, 174, 131, 0.1),
    1953px 560px rgba(184, 174, 131, 0.7),
    1113px 1276px rgba(184, 174, 131, 0.7), 1457px 1605px rgba(184, 174, 131, 1),
    1961px 661px rgba(184, 174, 131, 0.5), 1694px 725px rgba(184, 174, 131, 0.8),
    1050px 200px rgba(184, 174, 131, 1), 1122px 19px rgba(184, 174, 131, 0.1),
    578px 914px rgba(184, 174, 131, 0.6), 192px 851px rgba(184, 174, 131, 0.2),
    849px 1146px rgba(184, 174, 131, 0.6), 1205px 207px rgba(184, 174, 131, 0.1),
    483px 1740px rgba(184, 174, 131, 0.4), 472px 1649px rgba(184, 174, 131, 0.6),
    726px 782px rgba(184, 174, 131, 0.1), 914px 1949px rgba(184, 174, 131, 0.7),
    1057px 1361px rgba(184, 174, 131, 0.9), 1447px 1336px rgba(184, 174, 131, 1),
    1192px 535px rgba(184, 174, 131, 0.4), 1927px 984px rgba(184, 174, 131, 0.5),
    1619px 614px rgba(184, 174, 131, 0.4),
    1384px 1096px rgba(184, 174, 131, 0.7),
    2000px 1304px rgba(184, 174, 131, 0.3),
    1231px 337px rgba(184, 174, 131, 0.5), 493px 711px rgba(184, 174, 131, 1),
    592px 1754px rgba(184, 174, 131, 0.4), 1415px 846px rgba(184, 174, 131, 0.1),
    1532px 1091px rgba(184, 174, 131, 0.4),
    1408px 765px rgba(184, 174, 131, 0.1), 337px 1682px rgba(184, 174, 131, 0.1),
    1176px 120px rgba(184, 174, 131, 0.6), 187px 1563px rgba(184, 174, 131, 0.8),
    1798px 614px rgba(184, 174, 131, 0.6), 836px 1124px rgba(184, 174, 131, 0.9),
    1915px 1240px rgba(184, 174, 131, 0.5), 20px 160px rgba(184, 174, 131, 0.5),
    328px 1810px rgba(184, 174, 131, 0.9), 105px 1135px rgba(184, 174, 131, 0.2),
    1913px 318px rgba(184, 174, 131, 0.7), 573px 771px rgba(184, 174, 131, 0.9),
    295px 1785px rgba(184, 174, 131, 0.4), 1615px 1450px rgba(184, 174, 131, 1),
    238px 759px rgba(184, 174, 131, 0.8), 1662px 1437px rgba(184, 174, 131, 1),
    1218px 1370px rgba(184, 174, 131, 0.6), 1056px 1602px rgba(184, 174, 131, 1),
    337px 436px rgba(184, 174, 131, 0.5), 737px 659px rgba(184, 174, 131, 0.1),
    1618px 184px rgba(184, 174, 131, 0.2), 585px 751px rgba(184, 174, 131, 0.4),
    1664px 1021px rgba(184, 174, 131, 0.7), 1119px 41px rgba(184, 174, 131, 1),
    1214px 330px rgba(184, 174, 131, 0.6), 1347px 599px rgba(184, 174, 131, 0.5),
    1960px 1936px rgba(184, 174, 131, 0.1), 1884px 82px rgba(184, 174, 131, 0.7),
    1645px 1456px rgba(184, 174, 131, 0.9),
    1372px 1690px rgba(184, 174, 131, 0.4),
    1593px 1150px rgba(184, 174, 131, 0.1),
    1988px 1980px rgba(184, 174, 131, 0.1),
    1010px 430px rgba(184, 174, 131, 0.2), 1402px 1817px rgba(184, 174, 131, 1),
    1434px 941px rgba(184, 174, 131, 0.6), 1850px 402px rgba(184, 174, 131, 0.5),
    1128px 89px rgba(184, 174, 131, 1), 1622px 429px rgba(184, 174, 131, 0.8),
    298px 105px rgba(184, 174, 131, 0.7), 708px 1837px rgba(184, 174, 131, 0.8),
    666px 949px rgba(184, 174, 131, 0.4), 1773px 1228px rgba(184, 174, 131, 0.3),
    1540px 474px rgba(184, 174, 131, 0.3), 1166px 263px rgba(184, 174, 131, 1),
    1647px 730px rgba(184, 174, 131, 0.3),
    1446px 1026px rgba(184, 174, 131, 0.8),
    1043px 252px rgba(184, 174, 131, 0.8), 1178px 120px rgba(184, 174, 131, 0.7),
    680px 218px rgba(184, 174, 131, 0.1), 941px 544px rgba(184, 174, 131, 0.1),
    797px 377px rgba(184, 174, 131, 0.2), 1279px 1742px rgba(184, 174, 131, 0.6),
    212px 1791px rgba(184, 174, 131, 1), 657px 795px rgba(184, 174, 131, 1),
    319px 1063px rgba(184, 174, 131, 0.6), 721px 585px rgba(184, 174, 131, 0.5),
    1446px 1102px rgba(184, 174, 131, 0.5), 546px 266px rgba(184, 174, 131, 0.8),
    285px 1618px rgba(184, 174, 131, 1), 1481px 1612px rgba(184, 174, 131, 0.4),
    1842px 1618px rgba(184, 174, 131, 0.7), 497px 956px rgba(184, 174, 131, 0.8),
    1234px 192px rgba(184, 174, 131, 0.9), 956px 1184px rgba(184, 174, 131, 0.1),
    521px 769px rgba(184, 174, 131, 0.5), 1083px 936px rgba(184, 174, 131, 0.9),
    1249px 1718px rgba(184, 174, 131, 1), 1906px 614px rgba(184, 174, 131, 0.9),
    3px 1402px rgba(184, 174, 131, 0.2), 1414px 1108px rgba(184, 174, 131, 0.4),
    1730px 1418px rgba(184, 174, 131, 0.3), 235px 36px rgba(184, 174, 131, 0.4),
    1503px 1051px rgba(184, 174, 131, 1), 1157px 962px rgba(184, 174, 131, 0.7),
    544px 253px rgba(184, 174, 131, 0.7), 189px 1964px rgba(184, 174, 131, 0.1),
    457px 1538px rgba(184, 174, 131, 0.2), 1244px 640px rgba(184, 174, 131, 0.8),
    516px 1382px rgba(184, 174, 131, 0.9), 139px 1600px rgba(184, 174, 131, 0.5),
    636px 125px rgba(184, 174, 131, 0.6), 1292px 710px rgba(184, 174, 131, 0.5),
    39px 1672px rgba(184, 174, 131, 0.3), 164px 1347px rgba(184, 174, 131, 0.9),
    863px 644px rgba(184, 174, 131, 1), 684px 371px rgba(184, 174, 131, 0.3),
    1427px 735px rgba(184, 174, 131, 0.4), 658px 1393px rgba(184, 174, 131, 0.7),
    1431px 177px rgba(184, 174, 131, 0.8), 825px 487px rgba(184, 174, 131, 0.2),
    1057px 1888px rgba(184, 174, 131, 0.2), 1958px 71px rgba(184, 174, 131, 0.3),
    1730px 1788px rgba(184, 174, 131, 0.5),
    1604px 1938px rgba(184, 174, 131, 0.5), 967px 750px rgba(184, 174, 131, 0.3),
    880px 257px rgba(184, 174, 131, 0.3), 1462px 674px rgba(184, 174, 131, 0.2),
    1190px 192px rgba(184, 174, 131, 0.5), 370px 251px rgba(184, 174, 131, 0.5),
    802px 1356px rgba(184, 174, 131, 0.4), 1903px 259px rgba(184, 174, 131, 0.3),
    906px 252px rgba(184, 174, 131, 0.8), 797px 1379px rgba(184, 174, 131, 0.1),
    1933px 1432px rgba(184, 174, 131, 1), 283px 1168px rgba(184, 174, 131, 0.6),
    1530px 1536px rgba(184, 174, 131, 0.4), 970px 964px rgba(184, 174, 131, 0.2),
    194px 176px rgba(184, 174, 131, 0.1), 1087px 1671px rgba(184, 174, 131, 0.5),
    1023px 1303px rgba(184, 174, 131, 0.1),
    280px 1827px rgba(184, 174, 131, 0.6), 1444px 599px rgba(184, 174, 131, 0.8),
    221px 1075px rgba(184, 174, 131, 0.5), 248px 506px rgba(184, 174, 131, 0.9),
    1750px 1587px rgba(184, 174, 131, 0.1),
    109px 1118px rgba(184, 174, 131, 0.7),
    1449px 1424px rgba(184, 174, 131, 0.7), 923px 499px rgba(184, 174, 131, 0.3),
    518px 559px rgba(184, 174, 131, 0.9), 1844px 263px rgba(184, 174, 131, 0.9),
    1330px 458px rgba(184, 174, 131, 0.4), 940px 447px rgba(184, 174, 131, 0.8),
    131px 70px rgba(184, 174, 131, 0.8), 89px 1119px rgba(184, 174, 131, 0.1),
    583px 1506px rgba(184, 174, 131, 0.2), 220px 125px rgba(184, 174, 131, 1),
    475px 1083px rgba(184, 174, 131, 0.5), 570px 1593px rgba(184, 174, 131, 0.1),
    1240px 1505px rgba(184, 174, 131, 0.5),
    1173px 1686px rgba(184, 174, 131, 0.7), 996px 432px rgba(184, 174, 131, 0.9),
    157px 1791px rgba(184, 174, 131, 0.6), 203px 734px rgba(184, 174, 131, 0.3),
    367px 1423px rgba(184, 174, 131, 0.4), 1343px 886px rgba(184, 174, 131, 0.1),
    733px 46px rgba(184, 174, 131, 0.4), 299px 774px rgba(184, 174, 131, 0.9),
    650px 409px rgba(184, 174, 131, 0.7), 177px 574px rgba(184, 174, 131, 0.9),
    1579px 809px rgba(184, 174, 131, 1), 46px 973px rgba(184, 174, 131, 0.1),
    1704px 272px rgba(184, 174, 131, 0.1), 65px 620px rgba(184, 174, 131, 0.8),
    1312px 6px rgba(184, 174, 131, 0.4), 750px 557px rgba(184, 174, 131, 0.5),
    1251px 121px rgba(184, 174, 131, 0.1),
    1662px 1741px rgba(184, 174, 131, 0.3),
    1183px 862px rgba(184, 174, 131, 0.4), 405px 1007px rgba(184, 174, 131, 0.5),
    873px 1977px rgba(184, 174, 131, 0.3), 1859px 1119px rgba(184, 174, 131, 1),
    445px 1739px rgba(184, 174, 131, 0.2), 179px 220px rgba(184, 174, 131, 0.7),
    1596px 1127px rgba(184, 174, 131, 0.6), 81px 45px rgba(184, 174, 131, 0.1),
    1754px 1689px rgba(184, 174, 131, 0.5), 602px 342px rgba(184, 174, 131, 0.8),
    1417px 144px rgba(184, 174, 131, 0.2), 1540px 847px rgba(184, 174, 131, 0.2),
    935px 1705px rgba(184, 174, 131, 0.4), 549px 142px rgba(184, 174, 131, 0.3),
    585px 538px rgba(184, 174, 131, 0.8), 511px 971px rgba(184, 174, 131, 0.4),
    1397px 1659px rgba(184, 174, 131, 0.3),
    196px 1094px rgba(184, 174, 131, 0.6), 137px 299px rgba(184, 174, 131, 0.7),
    204px 1366px rgba(184, 174, 131, 0.7),
    1522px 1722px rgba(184, 174, 131, 0.5), 244px 944px rgba(184, 174, 131, 0.3),
    873px 1379px rgba(184, 174, 131, 0.3), 538px 230px rgba(184, 174, 131, 0.6),
    678px 1744px rgba(184, 174, 131, 1), 29px 1263px rgba(184, 174, 131, 0.1),
    709px 511px rgba(184, 174, 131, 0.5), 1045px 542px rgba(184, 174, 131, 0.5),
    388px 1468px rgba(184, 174, 131, 0.2), 374px 1818px rgba(184, 174, 131, 0.3),
    1503px 1572px rgba(184, 174, 131, 0.2);
  background: transparent;
  border-radius: 100%;
  animation: blink 3s infinite;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-up-down {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 10px;
    }
  }